<template>
  <div class="modal-wrap">
    <div class="modal">
      <div class="close">
        <img src="../static/close.png" alt="close" @click="close"/>
      </div>
      <div class="modal-main">
        <form @submit="add">
          <p v-for="(item, i) in newInfo" :key="i" class="form-row">
            <label>{{item.name}}</label>
            <input
              v-model="item.value"
              required
            >
          </p>
          <p>
            <input
              class="add"
              type="submit"
              value="Add"
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
import {mapGetters, mapMutations} from 'vuex'
export default {
  data() {
    return {
      newInfo: [{name: 'Name', value: ''}, {name: 'Phone', value: ''}],
    }
  },
  computed: {
    ...mapGetters(['CONTACTS']),
    info() {
      return {
        id: this.CONTACTS.length + 1,
        data: this.newInfo
      }
    }
  },
  methods: {
    ...mapMutations(['ADD_CONTACTS']),
    close() {
      this.$emit('closePopup')
    },
    add() {
      this.ADD_CONTACTS(this.info)
      this.close()
    }
  }
}
</script>
<style scoped>

.modal-wrap {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  width: 600px;
  max-height: 100vh;
  overflow-y: auto;
  border: 1px dashed #e4b078;
  background-color: #fcf7f5;
  color: #000000;
  border-radius: 20px;
}
.close {
  margin: 20px 20px 20px 0;
  display: flex;
  justify-content: flex-end;
}
.close img {
  cursor: pointer;
}
.modal-main {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 30px;
}
.form-row {
  width: 100%;
  margin: 0 auto 30px;
  display: flex;
  flex-direction: column;
}
.add {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  background-color: darkgreen;
  color: #fdfdfd;
  font-weight: bold;
  font-size: 18px;
  outline: none;
  border: none;
  cursor: pointer;
}

</style>
