<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app',
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 50%;
  margin: 60px auto 0;
}

* {
  padding: 0;
  margin: 0;
}

input {
  width: 280px;
  border: 0;
  border-bottom: 1px solid darkgrey;
  outline: none;
  padding: 5px;
  background-color: transparent;
}

</style>
