<template>
  <div class="contact-page-wrap">
    <div class="back flex-center" @click="back">Back</div>
    <div class="info-wrap">
      <form class="info" @submit="confirm">
        <div>
          <div v-for="(item, i) in info">

            <div class="info-row">
              <input
                v-model="item.name"
                placeholder="Field Name"
                required
              >
              <span>:</span>
              <input
                v-model="item.value"
                placeholder="Field Value"
                required
              >
              <div class="cancel flex-center" @click="cancel(item, i)">Cancel</div>
              <div class="delete flex-center" @click="deleteField(item, i)">Delete</div>
            </div>
          </div>
        </div>

        <div class="buttons-wrap">
          <div class="add-info" @click="addField">Add Field</div>

          <div>
            <input
              class="confirm-info"
              type="submit"
              value="Confirm"
            >
          </div>
        </div>

      </form>
    </div>
  </div>
</template>

<script>
import {mapMutations} from "vuex";

export default {
  data() {
    return {
      info: [],
      newInfo: [],
      contactsData: [],
      id: null
    }
  },
  mounted() {
    this.id = this.$route.params.id
    this.contactsData = JSON.parse(JSON.stringify(this.$store.getters.CONTACTS));
    this.contactsData.forEach(contact => {
      if (contact.id == this.id) {
        this.info = contact.data
      }
    })
  },
  methods: {
    ...mapMutations(['SET_CONTACTS', 'UPDATE_CONTACTS', 'DELETE_CONTACTS']),
    //Cancel last changes
    cancel(item, i) {
      let data = JSON.parse(JSON.stringify(this.$store.getters.CONTACTS))
      data.map(contact => {
        if (contact.id == this.id) {
          if (contact.data[i]) {
            let confirmDelete = confirm("Cancel changes ?")
            if (confirmDelete) {
              this.info.splice(i, 1, contact.data[i])
            }
          } else {
            this.info.splice(i, 1)
          }
        }
      })

    },

    //Delete field
    deleteField(item, i) {
      let confirmDelete = confirm("Delete field ?")
      if (confirmDelete) {
        this.contactsData.map(contact => {
          if (contact.id == this.id) {
            this.info = [...contact.data];
            this.info.splice(i, 1)
            contact.data.splice(i, 1)
          }
        })
        this.UPDATE_CONTACTS(this.contactsData)
      }
    },

    //Add new field
    addField() {
      let newInfo = {
        name: '',
        value: '',
      }
      this.info.push(newInfo)
    },

    //Confirm last changes
    confirm() {
      this.UPDATE_CONTACTS(this.contactsData)
      this.$router.push('/')
    },

    //Back to home page
    back() {
      let confirmDelete = confirm("Are you sure?")
      if (confirmDelete) {
        this.$router.go(-1)
      }
    }
  }
}
</script>

<style scoped>
.contact-page-wrap {
  width: fit-content;
  margin: auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  color: #fdfdfd;
  background-color: grey;
  cursor: pointer;
}

.info-wrap {
  margin-top: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.info-row {
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
}

.info-row span {
  margin: 0 10px;
}

.delete, .cancel {
  width: 80px;
  height: 30px;
  margin-left: 20px;
  border-radius: 5px;
  color: #fdfdfd;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.delete {
  background-color: darkred;
}

.cancel {
  background-color: grey;
}

.buttons-wrap {
  display: flex;
  margin-top: 15px;
}

.confirm-info, .add-info {
  height: 40px;
  width: 180px;
  font-size: 16px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fdfdfd;
  cursor: pointer;
}

.confirm-info {
  background-color: darkgreen;
  border: none;
  outline: none;
  margin-left: 15px;
}

.add-info {
  background-color: darkcyan;
}
</style>
