<template>
  <div>
    <h1 class="title">{{ title }}</h1>
    <div class="contact-wrap">
      <div
        v-for="(contact, index) in CONTACTS"
        :key="index"
        class=""
        @click="toContactPage(contact)"
      >
        <div v-if="contact.data.length > 0" class="contact">
          <div class="contact-items">
            <div v-for="(item, i) in contact.data" :key="i">
              {{ item.value }}
            </div>
          </div>
          <div class="delete flex-center" @click.stop="deleteContact(index)"> Delete</div>
        </div>
      </div>
      <div class="add-button-wrap">
        <div class="flex-center add" @click="showAddContactModalHandler">Add contact</div>
      </div>
    </div>
    <div v-if="showAddContactModal">
      <ContactModal @closePopup="closeAddContactModal"/>
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import ContactModal from "./components/ContactModal";

export default {
  name: 'home',
  components: {ContactModal},
  data() {
    return {
      showAddContactModal: false,
      title: 'Contact Book',
    }
  },
  computed: {
    ...mapGetters(['CONTACTS']),
  },
  methods: {
    //Delete contact
    deleteContact(index) {
      let confirmDelete = confirm("Delete contact ?")
      if (confirmDelete) {
        this.CONTACTS.splice(index, 1)
      }
    },

    //Redirect to selected contact page
    toContactPage(contact) {
      this.$router.push({
        path: `/contact/${contact.id}`
      })
    },

    showAddContactModalHandler() {
      this.showAddContactModal = true
      document.body.style.overflowY = "hidden";
    },
    closeAddContactModal() {
      this.showAddContactModal = false
      document.body.style.overflowY = "auto";
    }
  }
}
</script>

<style scoped>
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  margin-bottom: 15px;
}

.contact {
  height: 50px;
  padding: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border: 1px solid gray;
  border-radius: 20px;
  cursor: pointer;
}

.contact-items {
  display: flex;
  align-items: center;
}

.contact-items div {
  margin-right: 40px;
}

.add-button-wrap {
  display: flex;
  justify-content: flex-end;
}

.delete {
  width: 70px;
  height: 30px;
  border-radius: 5px;
  background-color: darkred;
  color: #fdfdfd;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.add {
  width: 180px;
  height: 40px;
  border-radius: 5px;
  background-color: darkcyan;
  color: #fdfdfd;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
</style>
